<launch>
 <!-- joy node -->
 <!-- select correct input device -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
    <!-- <param name="autorepeat_rate" value="20" /> -->
  </node>

 <!-- teleop node -->
  <node pkg="joy_teleop" type="joy_teleop2.py" name="joy_teleop_node" output="screen" />
</launch>