<launch>
  <!-- robot namespace and prefixes -->
  <arg name="namespace" default="" doc="namespace for all topics"/>
  <arg name="arm_prefix" default="" doc="prefix for robot arm"/>
  <arg name="gripper_prefix" default="" doc="prefix for robot gripper"/>

  <!-- urdf file location -->
  <arg name="robot_description_file" default="$(find ur5e_2f85_description)/launch/load_ur5e_2f85.launch"/>

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <include if="$(arg load_robot_description)" file="$(arg robot_description_file)">
      <arg name="namespace" value="$(arg namespace)"/>
      <arg name="arm_prefix" value="$(arg arm_prefix)"/>
      <arg name="gripper_prefix" value="$(arg gripper_prefix)"/>
    </include>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" command="$(find xacro)/xacro '$(find ur5e_2f85_moveit_config)/config/ur5e_2f85_robot.srdf.xacro'
    arm_prefix:=$(arg namespace)$(arg arm_prefix)
    gripper_prefix:=$(arg namespace)$(arg gripper_prefix)"
    />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find ur5e_2f85_moveit_config)/config/joint_limits.yaml" subst_value="true"/>
    <rosparam command="load" file="$(find ur5e_2f85_moveit_config)/config/cartesian_limits.yaml" />
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find ur5e_2f85_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
