<?xml version="1.0" encoding="UTF-8"?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mirco_robot">
    <!-- robot prefixes -->
    <xacro:arg name="mir_prefix" default=""/>
    <xacro:property name="mir_prefix" value="$(arg mir_prefix)"/>
    
    <xacro:arg name="arm_prefix" default=""/>
    <xacro:property name="arm_prefix" value="$(arg arm_prefix)"/>

    <xacro:arg name="gripper_prefix" default=""/>
    <xacro:property name="gripper_prefix" value="$(arg gripper_prefix)"/>

    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
    <group name="robot_arm">
        <joint name="${arm_prefix}base_link-base_link_inertia"/>
        <joint name="${arm_prefix}shoulder_pan_joint"/>
        <joint name="${arm_prefix}shoulder_lift_joint"/>
        <joint name="${arm_prefix}elbow_joint"/>
        <joint name="${arm_prefix}wrist_1_joint"/>
        <joint name="${arm_prefix}wrist_2_joint"/>
        <joint name="${arm_prefix}wrist_3_joint"/>
        <joint name="${arm_prefix}wrist_3-flange"/>
        <joint name="${arm_prefix}flange-tool0"/>
    </group>
    <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
    <group_state name="home" group="robot_arm">
        <joint name="${arm_prefix}elbow_joint" value="-1.57"/>
        <joint name="${arm_prefix}shoulder_lift_joint" value="-1.57"/>
        <joint name="${arm_prefix}shoulder_pan_joint" value="0"/>
        <joint name="${arm_prefix}wrist_1_joint" value="-1.57"/>
        <joint name="${arm_prefix}wrist_2_joint" value="1.57"/>
        <joint name="${arm_prefix}wrist_3_joint" value="0"/>
    </group_state>
    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <virtual_joint name="virtual_joint" type="floating" parent_frame="map" child_link="${mir_prefix}base_footprint"/>
    <!--PASSIVE JOINT: Purpose: this element is used to mark joints that are not actuated-->
    <passive_joint name="virtual_joint"/>
    <passive_joint name="${mir_prefix}bl_caster_rotation_joint"/>
    <passive_joint name="${mir_prefix}bl_caster_wheel_joint"/>
    <passive_joint name="${mir_prefix}br_caster_rotation_joint"/>
    <passive_joint name="${mir_prefix}br_caster_wheel_joint"/>
    <passive_joint name="${mir_prefix}fl_caster_rotation_joint"/>
    <passive_joint name="${mir_prefix}fl_caster_wheel_joint"/>
    <passive_joint name="${mir_prefix}fr_caster_rotation_joint"/>
    <passive_joint name="${mir_prefix}fr_caster_wheel_joint"/>
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}left_inner_finger_pad" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}left_inner_knuckle" reason="Default"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}left_outer_finger" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}right_outer_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${gripper_prefix}left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${gripper_prefix}left_outer_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${gripper_prefix}left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${gripper_prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${gripper_prefix}right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${gripper_prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${gripper_prefix}right_outer_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${gripper_prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_finger_pad" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${gripper_prefix}left_outer_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${gripper_prefix}left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${gripper_prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${gripper_prefix}right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${gripper_prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${gripper_prefix}right_outer_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${gripper_prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_inner_knuckle" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${gripper_prefix}left_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${gripper_prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${gripper_prefix}right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${gripper_prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${gripper_prefix}right_outer_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${gripper_prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_finger" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_knuckle" link2="${gripper_prefix}right_inner_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_knuckle" link2="${gripper_prefix}right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_knuckle" link2="${gripper_prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_knuckle" link2="${gripper_prefix}right_outer_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_knuckle" link2="${gripper_prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_knuckle" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}left_outer_knuckle" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_knuckle" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}left_outer_knuckle" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger" link2="${gripper_prefix}right_inner_finger_pad" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger" link2="${gripper_prefix}right_inner_knuckle" reason="Default"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger" link2="${gripper_prefix}right_outer_finger" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger" link2="${gripper_prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger_pad" link2="${gripper_prefix}right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger_pad" link2="${gripper_prefix}right_outer_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger_pad" link2="${gripper_prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger_pad" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger_pad" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger_pad" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_finger_pad" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_knuckle" link2="${gripper_prefix}right_outer_finger" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_knuckle" link2="${gripper_prefix}right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_knuckle" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}right_inner_knuckle" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_knuckle" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_inner_knuckle" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_outer_finger" link2="${gripper_prefix}right_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}right_outer_finger" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_outer_finger" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_outer_finger" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_outer_finger" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_outer_knuckle" link2="${gripper_prefix}robotiq_arg2f_base_link" reason="Adjacent"/>
    <disable_collisions link1="${gripper_prefix}right_outer_knuckle" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_outer_knuckle" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}right_outer_knuckle" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}robotiq_arg2f_base_link" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}robotiq_arg2f_base_link" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${gripper_prefix}robotiq_arg2f_base_link" link2="${arm_prefix}wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}back_laser_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}base_link" reason="Adjacent"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}bl_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}bl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}br_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}br_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}fl_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}fl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}fr_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}fr_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="enclosure" link2="${arm_prefix}base_link_inertia" reason="Adjacent"/>
    <disable_collisions link1="enclosure" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}base_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}bl_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}bl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}br_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}br_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}fl_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}fl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}fr_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}fr_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}back_laser_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}bl_caster_rotation_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}bl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}br_caster_rotation_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}br_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}fl_caster_rotation_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}fl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}fr_caster_rotation_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}fr_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}front_laser_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}left_wheel_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${mir_prefix}right_wheel_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}base_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}bl_caster_wheel_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}br_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}br_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}fl_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}fl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}fr_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}fr_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_rotation_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${mir_prefix}br_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${mir_prefix}br_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${mir_prefix}fl_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${mir_prefix}fl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${mir_prefix}fr_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${mir_prefix}fr_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}bl_caster_wheel_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${mir_prefix}br_caster_wheel_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${mir_prefix}fl_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${mir_prefix}fl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${mir_prefix}fr_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${mir_prefix}fr_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_rotation_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${mir_prefix}fl_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${mir_prefix}fl_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${mir_prefix}fr_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${mir_prefix}fr_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}br_caster_wheel_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${mir_prefix}fl_caster_wheel_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${mir_prefix}fr_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${mir_prefix}fr_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${arm_prefix}forearm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_rotation_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${mir_prefix}fr_caster_rotation_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${mir_prefix}fr_caster_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${arm_prefix}forearm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fl_caster_wheel_link" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_rotation_link" link2="${mir_prefix}fr_caster_wheel_link" reason="Adjacent"/>
    <disable_collisions link1="${mir_prefix}fr_caster_rotation_link" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_rotation_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_rotation_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_rotation_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_rotation_link" link2="${arm_prefix}forearm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_rotation_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_rotation_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_wheel_link" link2="${mir_prefix}front_laser_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_wheel_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_wheel_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_wheel_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_wheel_link" link2="${arm_prefix}forearm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_wheel_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_wheel_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}fr_caster_wheel_link" link2="${arm_prefix}wrist_1_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}front_laser_link" link2="${mir_prefix}left_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}front_laser_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}front_laser_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}front_laser_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}front_laser_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}left_wheel_link" link2="${mir_prefix}right_wheel_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}left_wheel_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}left_wheel_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}left_wheel_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}right_wheel_link" link2="${arm_prefix}base_link_inertia" reason="Never"/>
    <disable_collisions link1="${mir_prefix}right_wheel_link" link2="${arm_prefix}shoulder_link" reason="Never"/>
    <disable_collisions link1="${mir_prefix}right_wheel_link" link2="${arm_prefix}upper_arm_link" reason="Never"/>
    <disable_collisions link1="${arm_prefix}base_link_inertia" link2="${arm_prefix}shoulder_link" reason="Adjacent"/>
    <disable_collisions link1="${arm_prefix}forearm_link" link2="${arm_prefix}upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="${arm_prefix}forearm_link" link2="${arm_prefix}wrist_1_link" reason="Adjacent"/>
    <disable_collisions link1="${arm_prefix}forearm_link" link2="${arm_prefix}wrist_2_link" reason="Never"/>
    <disable_collisions link1="${arm_prefix}shoulder_link" link2="${arm_prefix}upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="${arm_prefix}wrist_1_link" link2="${arm_prefix}wrist_2_link" reason="Adjacent"/>
    <disable_collisions link1="${arm_prefix}wrist_1_link" link2="${arm_prefix}wrist_3_link" reason="Never"/>
    <disable_collisions link1="${arm_prefix}wrist_2_link" link2="${arm_prefix}wrist_3_link" reason="Adjacent"/>
</robot>
