<?xml version="1.0" ?>
<launch>
  <!-- set robot args -->
  <!-- mir args -->
  <arg name="mir_type"  default="mir_100"/>
  <arg name="mir_prefix" default=""/>
  <!-- ur5e args -->
  <arg name="ur5e_prefix" default="" />
  <arg name="kinematics_params" default="$(find ur5e_2f85_description)/config/ur5e_kinematics_calib.yaml" />
  <!-- gripper args -->
  <arg name="gripper_prefix" default="" />
  <!-- load urdf -->
  <arg name="robot_description" default="robot_description"/>
  <param name="$(arg robot_description)" command="$(find xacro)/xacro $(find mirco_description)/urdf/mirco.urdf.xacro 
    mir_type:=$(arg mir_type) 
    mir_prefix:=$(arg mir_prefix)
    arm_prefix:=$(arg ur5e_prefix)
    kinematics_params:=$(arg kinematics_params)
    gripper_prefix:=$(arg gripper_prefix)"
    />
</launch>