<?xml version="1.0"?>
<launch>
  <!-- load kinematics config from real robot  -->
  <arg name="kinematics_params" default="$(find ur5e_2f85_description)/config/ur5e_kinematics_calib.yaml"/>

  <!-- select tf prefixes for robot arm and gripper -->
  <arg name="namespace" default=""/>
  <arg name="arm_prefix" default=""/>
  <arg name="gripper_prefix" default=""/>
   
  <param name="robot_description" command="$(find xacro)/xacro '$(find ur5e_2f85_description)/urdf/ur5e_2f85.urdf.xacro'
    kinematics_params:=$(arg kinematics_params)
    arm_prefix:=$(arg arm_prefix)
    gripper_prefix:=$(arg gripper_prefix)"
    />
</launch>