<launch>
  <!-- robot namespace and prefixes -->
  <arg name="namespace" default="" doc="namespace for the whole robot cell"/>
  <arg name="mir_prefix" default="" doc="TF prefix for robot base"/>
  <arg name="arm_prefix" default="" doc="TF prefix for robot arm"/>
  <arg name="gripper_prefix" default="" doc="TF prefix for robot gripper"/>

  <!-- urdf file location -->
  <arg name="robot_description_file" default="$(find moca_description)/launch/load_moca.launch"/>

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <include if="$(arg load_robot_description)" file="$(arg robot_description_file)">
    <arg name="robot_description" value="$(arg robot_description)"/>
    <arg name="mir_prefix" value="$(arg mir_prefix)"/>
    <arg name="arm_prefix" value="$(arg arm_prefix)"/>
    <arg name="gripper_prefix" value="$(arg gripper_prefix)"/>
  </include>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" command="$(find xacro)/xacro '$(find moca_moveit_config)/config/moca_robot.srdf.xacro' 
    mir_prefix:=$(arg mir_prefix)
    arm_prefix:=$(arg arm_prefix)
    gripper_prefix:=$(arg gripper_prefix)" 
    />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find moca_moveit_config)/config/joint_limits.yaml" subst_value="true"/>
    <rosparam command="load" file="$(find moca_moveit_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find moca_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
